@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
  margin:0;
  padding:0;
  font-family:'Poppins',sans-serif;
  box-sizing:border-box;

}


main{
  display:grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 800px 20px 700px 170px 650px 400px;
 grid-template-areas:
  "box1 box1 box1"
  "box4 box4 box4"
  "box2 box2 box3"
  "box5 box5 box5"
  "box7 box7 box7"
  "box8 box8 box8" ;
  
  max-width:2000px;

}





.box1{
grid-area:box1;
position:relative;
align-items:center;
background:rgb(196, 190, 190);
 }
 .box1 .content{
   width:400px;
   height:550px;
   position:absolute;
   top:0;
   left:0;
   bottom: 0;
   right: 1470px;
   margin:auto;
   z-index:7;
   padding:40px;
background:rgb(196, 190, 190);
box-shadow:0 20px 30px rgb(0,0,0,.3);
overflow: hidden;
text-align:left;
font-family: 'Poppins', sans-serif;
border-top:9px solid rgb(92, 90, 90);
animation-name:moveboxright;
animation-duration: 2s;
animation-timing-function: linear;
font-size:25px;

   
 }
 .open-button {
  background-color: #555;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: relative;
  bottom: 33px;
  margin-top: 30px;
  top:500px;
  left:40px;
  width: 200px;
  font-size:27px;
  z-index:12;
  animation-name:moveboxright;
animation-duration: 2s;
animation-timing-function: step-end;

 
}
.open-button:hover{
  background:rgba(48, 46, 46, 0.979);
  box-shadow:0 20px 30px rgb(0,0,0,.7);
}
.form-popup {
  display: none;
  position:relative;
  top:-20px;
  left:530px;
  border: 5px solid #f1f1f1;
  z-index: 12;
  max-width: 600px;
  height: 700px;
  background-color: white;

}
.form-popup h1{
  font-size:29px;
  font-weight:600;
color:#F79B44;
padding-bottom:20px;
padding-left:70px;
}

.form-container {
  max-width: 600px;
  height:630px;
  padding: 10px;
  background-color: white;
  

}

.form-container input[type=text], .form-container input[type=password] ,.form-container input[type=tel],textarea{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


.form-container input[type=text]:focus, .form-container input[type=password]:focus,.form-container input[type=tel]:focus,textarea:focus {
  background-color: #ddd;
  outline: none;
}


.form-container .btn {
  background-color: #F79B44;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
  opacity: 0.8;
  float:right;
}


.form-container .cancel {
  background-color: rgba(170, 165, 165, 0.973);
  
}


.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

 
#myBtn{
  height:35px;
  width:130px;
  font-size:20px;
  color:rgba(48, 46, 46, 0.979);
  margin-top:10px;
  background:#ffff;
}
#myBtn:hover{
  background:rgba(170, 165, 165, 0.973);
}
 
 .box1 .photo{
  box-shadow:0 20px 30px rgb(0,0,0,.7);
   background-size:cover;
   background-position:center;
   width:90%;
   height:600px;
   position:absolute;
   top:0;
   left:0;
   bottom: 0;
   right: 0;
   margin:auto;
   z-index:6;
   
 }
 .box1 .photo img{
   width:100%;
   height:100%;
   opacity:0.8;

  
 }
 
 .box1 .content h1{
   font-size:70px;
   color:#F79B44;
   font-family:'Poppins', sans-serif; 
   position:relative;
   color:rgb(196, 190, 190);
   -webkit-text-stroke:0.1vw rgba(170, 165, 165, 0.973);
   text-transform: uppercase;
   margin-bottom: 30px;
  
 }

.box1 .content h1::before{
  content:attr(data-text);
  position:absolute;
top:0;
left:0;
height:100%;
width: 0;
color:#F79B44;
-webkit-text-stroke:0.1vw #F79B44;
border-right:2px solid #F79B44;
overflow:hidden;
animation:animate 6s linear infinite;
}
@keyframes animate
{
0%,10%,100%
{
  width:0;
}
70%,90%
{
  width:100%;
}
}


@keyframes moveboxright{
0%{ top:0;left:-2800px;bottom: 0;right:0;}
50%{top:0;left:-2000px;bottom: 0;right:0;}
 100%{ top:0;left:0;bottom: 0;right: 1470px;}

}
.box2{
  grid-area:box2;
  align-items: center;
  position:relative;
  display:flex;
  background:#fff;
  text-align:center;
  padding:150px;
  font-family: 'Poppins', sans-serif;

}
.box2 .content1{
  font-size:25px;
}
.box2 h2{
  font-size:50px;
  border-bottom:5px dotted rgb(92, 90, 90);
  margin-bottom: 60px;
 
}

.box3{
  margin:0;
  padding:0;
 z-index:7;

}
.box3 img{
  display:none;
  
}

 canvas{
  margin-right:10px;
  margin-top:-8px;
  }
  
.box4{
  grid-area: box4;
  margin-top:-100px;
  width:100%;
  z-index:5;
  height:100px;
  margin-bottom: 0;
  background:#fff;

}
.box5{
  grid-area: box5;
  margin-top:-150px;
  z-index:6;

}
.warpper{

  margin-left:50px;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
 }
 .box7{
   grid-area:box7;
   background:rgb(196, 190, 190);
   align-items: center;
   position:relative;
   text-align:center;
   padding:100px;
   font-family: 'Poppins', sans-serif;
   font-size:25px;
   color:rgba(48, 46, 46, 0.979);
 
 }
 .box7 h3{
   margin-top:-70px;
   margin-bottom:30px;
   font-size:35px;
   color:#fff;
 }
 .box7 h2{
   padding:10px;
 }
 .box7 button{
   width:200px;
   height:60px;
   background:#F79B44;
   color:#FFF;
   font-size:25px;
   outline-style:outset;
   outline-width:2px;
   outline-color:#F79B44;
 }
 .box7 button:hover{
   background:#f08e32;
 }
 .box7 p{
   color:#fff;
   display:block;
   white-space: space normal;
   padding:30px;
 }
.box8{
  grid-area:box8;
  background:rgba(48, 46, 46, 0.979);
   align-items: center;
   position:relative;
   text-align:center;
   padding-left: 100px;
   padding-right:100px;
   padding-top:20px;
   font-family: 'Poppins', sans-serif;
   font-size:25px;
   color:rgba(48, 46, 46, 0.979);
  
}
.box8 h1{
  font-size:30px;
  margin-top:10px;
  margin-bottom: 20px;
  font-weight: 600;
  flex-direction:row;
justify-content: space-around;
flex-flow:wrap
}
.box8 .container{
  width:90%;
  display:flex;
justify-content: space-between;
flex-wrap: wrap;
background: rgba(170, 165, 165, 0.973);
border-radius: 50px;
margin-left:70px;

}
.box8 a{
  display:inline-block;
padding:5px 5px;
background:black;
text-decoration:none;
color:rgb(19, 17, 17);
margin-top: 2px;
color:white;
box-shadow:0 5px 10px rgb(0,0,0,.3);
 font-size:23px; 
 
}
.box8 a:hover{
  color:rgba(48, 46, 46, 0.979);
  
}
.box8 p{
  color:#fff;
  display:block;
  white-space: space normal;
  padding:30px;
}