@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.client{
  align-items: center;
  position: relative;
  justify-content: center;
  margin-left:500px;
  border:2px solid;
  width:500px;
  height:400px;
}
.this h3{
  font-size: 30px;
  margin-left: 650px;
}
.client img{
  width:500px;
  height: 500px;
  box-shadow:0 20px 30px rgb(0,0,0,.6);
}
#boom{
  position:absolute;
  left:700px;
  bottom:-20px;
  width:200px;
  height:50px;
  font-size:17px;
  box-shadow:0 20px 30px rgb(0,0,0,.6);
  border-radius: 30px;
  background-color:#BEBEBE;
  z-index: 12;
}
#boom:hover{
  background-color: darkgrey;
}

.section1 {
  position: relative;
  width: 100%;
  height: 55vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  background: linear-gradient(180deg, #3a3a3a, #BEBEBE, #e4e1e1), url(images/kosovo1.png);
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1000;
}


.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 175px;
  /* min-width: 100vh; */
  margin-top: -90px;
  margin-bottom: 50px;
}

.container1 {
  position: relative;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top:100px;
  z-index: 3000;
  margin-left: -400px;
}

.container1 .box1 {
  position: relative;
  width: 275px;
  height: 275px;
  overflow: hidden;
  transition: 0.5s;
}

.container1 .box1:hover {
  z-index: 1;
  transform: scale(1.1);
  box-shadow: 0 25px 40px rgba(116, 114, 114, 0.5);
}

.container1 .box1 .img1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container1 .box1 .img1:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* background: linear-gradient(180deg,#f0be7c,rgb(34, 34, 34)); */
  background: rgb(82, 81, 81);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
}

.container1 .box1:hover .img1:before {
  opacity: 2;
}

.container1 .box1 .img1 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container1 .box1 .content1 {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  padding: 20px;
  align-items: flex-end;
}

.container1 .box1 .content1 h2 {
  color: #c27211;
  transition: 0.5s;
  text-transform: uppercase;
  align-content: center;
  font-size: 20px;
  transform: translateY(200px);
}

.container1 .box1:hover .content1 h2 {
  transform: translateY(0);
  /* transition-delay: 0.1s; */
}
.custom-shape-divider-bottom-1610632061 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-bottom: 300px;
  z-index: 2000;
}

.custom-shape-divider-bottom-1610632061 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 229px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1610632061 .shape-fill {
  fill: #FFFFFF;
}
.teksti1{
  margin-bottom: 300px; 
  z-index: 4000;
  margin-left: 100px;
  font-size: 50px;
  letter-spacing: 5px;
  background-color: transparent;
  color: white;
  /* border-bottom: 10px solid #c27211; */
}
.teksti1 span{
  color: #d88e2c;
}
span:nth-child(even){
  overflow: hidden;
  color:#333;
  border-bottom: 10px solid #d88e2c;
}
.teksti1 a {
  text-decoration: none;
}